body {
	margin: 0;
}

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}
.flex-container {
	display: flex;
	height: 500px;
	width: 80%;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	box-shadow: 0px 18px 42px -6px rgba(142, 142, 142, 1);
	
}
.left-content {
	/* position: relative; */
	display: flex;
	height: 100%;
	width: 70%;
	/* background-image: url(images/bg-pattern-desktop.svg); */
	background-size: cover;
	align-items: flex-start;
	flex-direction: column;
}
.left 
{
	background-image: url(images/bg-pattern-desktop.svg);
}

}
.foto {
	height: 100%;
	width: 30%;
	background-image: url(images/hero-desktop.jpg);
	background-size: cover;
}
.container {
	display: flex;
	margin: 0;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background: rgb(246, 236, 214);
	background: linear-gradient(
		0deg,
		rgba(246, 236, 214, 1) 0%,
		rgba(252, 233, 252, 1) 58%,
		rgb(243, 212, 241) 98%);
		
}





h3 {
		font-family: 'Lato', sans-serif;
		color: hsl(0,36%,70%);
		font-weight: 700;
		font-size: 10px;
}

 p {
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;
}
.logo + p{
	font-size: 40px;
	color: hsl(0,36%,70%);
	text-transform: uppercase;
	font-weight: 100;
	margin: 0;
	padding: 0;
}

p~p {
	color: rgb(70, 65, 65);
	text-transform: uppercase;
	font-size: 45px;
	margin: 0;
	padding: 0;
}

form p {
	font-size: 7px;
	color: rgb(230, 134, 134);
}

.foto > * {
	width: 50%;
}